:host {
  display: flex;
  flex: 1;
}

* {
  box-sizing: border-box !important;
}

.sidenav-container {
  display: flex;
  width: 100%;
}

.sidenav-content {
  flex-grow: 1;
  flex-shrink: 1;
  flex: 1;
  overflow: auto;
  position: relative !important;
  background-color: rgb(248, 248, 248);
}

.back-to-top-button {
  position: fixed;
  bottom: -60px;
  left: calc(100% - 92px);
  z-index: 100;
}
