:host {
  display: flex;
}

.sidebar-link-text {
  margin-top: 5px;
  margin-left: 5px;
}

.sidenav {
  border: 1px solid silver;
  overflow-y: auto;
  overflow-x: hidden;
}

* {
  box-sizing: border-box !important;
}
